html, input {
    font-family: sans-serif;
}

body {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 2em;
}

.headerContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: bisque;
    font-weight: bold;
    margin-bottom: 20 px;
    padding: 1%;
}

form{
    margin-top:20 px;
    background: beige;
}
div{
    margin-bottom: 20px;
    padding: 2%;
    display:flex;
    justify-content: space-between;
    align-items: center;    
}

label, input, button {
    font-size: 16 px;
    line-height: 1.5;
}

label{
    text-align: left;
    width: 25%;
    margin-left: 5%;
    padding: auto;
}

input {
    flex: auto;
}

button {
    width: 50%;
    margin: 0 auto;
}

error-output {
    font-size: 12 px;
    font-style: italic;
    color: red;
}

.btn{
    width: 50%;
    color:rgb(225, 174, 111);
    border:none;
    border-radius:10px;
}
.btn:hover{
    background-color:bisque;
    transition: 0.7s;
}

.entry{
    width: 90%;
}

.spanresult{
    height: auto;
}